{% extends "base.html" %}

{% block content %}
    <!-- Page Header -->
    {% for author, articles in authors|sort %}
        <div class="post-preview">
            <h1 class="post-title">{{ author }}</h1>
            <h2 class="post-title">Posts</h2>
            {% for article in articles %}
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
                <h3 class="post-title">
                    {{ article.title }}
                </h3>
                <p>
                    {{ article.summary }}
                </p>
            </a>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock content %}
